$theme-color: #223A5E;
$text-color: #2C2F33;
$text-color-secondary: #55606A;
$text-grey: #A0ADB9;
$divider: #E3E6EA;
$lighter-grey: #D3D9DF;
$darker-grey: #444C55;
$smoky-white: #F8FAFB;
$heart: #6EE7B7;
