$theme-color: #2E7C8F;
$text-color: #2B3033;
$text-color-secondary: #4E5D66;
$text-grey: #9BAAB3;
$divider: #E1E6E8;
$lighter-grey: #D1D5D8;
$darker-grey: #555;
$smoky-white: #F7FAFA;
$heart: #FF7F66;
